{% extends 'base.html' %}

{% block content %}
<div id="about-how-to">
<h2>Paper Club how to:</h2>

<ol>
  <li>Create or join a club</li>
  <li>Propose papers in a club</li>
  <li>Score proposed papers</li>
  <li>Plan a meeting and initiate election to detemine meeting reading</li>
  <ul>
    <li>Candidate papers are selected from among the club's highest scoring proposals</li>
    </ul>
  <li>Vote in election to detemine the paper for the upcoming meeting</li>
  <li>Read the winning paper</li>
  <li>Meet and share thoughts, questions, and ideas!</li>
  <li>Repeat steps 2-8</li>
</ol>

<h3>Info</h3>
<ul>
  <li>Created by: <a href="https://ajpkim.com">Alex Kim</a></li>
  <li><a href="https://github.com/ajpkim/paper-club">Site source code</a></li>
</ul>

</div>
{% endblock content %}

