{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block content %}
<p>Created by <a href="https://ajpkim.com">Alex Kim</a>.</p>
<p>Browse source code, report bugs, and whatever else <a href="https://github.com/ajpkim/paper-club">here</a>.</p>
<div id="about-how-to">
  <h2>Paper Club how to:</h2>
  <ol>
    <li>Create or join a club</li>
    <li>Propose papers to the club</li>
    <li>Score other proposals (top-scoring proposals are tracked and visible)</li>
    <li>Schedule a meeting and choose several proposals from among the top-scoring pool of papers to serve as candidates for the upcoming meeting</li>
    <li>Vote on candidates to select the group reading for the meeting</li>
  </ol>
</div>
{% endblock content %}

    

