{% extends 'base.html' %}
{% block title %}Paper Club{% endblock %}

{% block content %}
<h1>Paper Club</h1>
<h3><i>Improve group reading selections</i></h3>

{% if user.is_authenticated %}

<p><b>{{ user.username }}</b>, go read some papers!</p>
<p>Here's a <a href={% url 'papers:random-paper' %}>random paper</a> to mix things up</p>

						     

{% else %}
<p>Please <a href="{% url 'login' %}">log in</a> or <a href="{% url 'accounts:register' %}">create an account</a> to participate.</p>
{% endif %}
{% endblock %}
