
:root {
    /* Set 1rem == 10px */
    font-size: 62.5%;

    /* Colors */
    --c-cream: #FFFDD0;
    --c-lightgrey: #CCCCFF;
    --c-lightgreen: #DCFAE1;
    --c-green: #91F7A4;
    --c-grey: #CCCCCC;
    --c-purple: #CC33FF;
    /* --c-purple: rebeccapurple; */
    --c-lightblue: #8dc2ee;

    
    /* Semantic */
    --bg-color: skyblue;
    --c-link: var(--c-lightblue);
    --c-navBar-a: var(--c-purple);
    --c-main-text: black;

}

html {   
    /* background-color: var(--main-bg-color); */
}

#container {
    max-width: 850px;
    margin: 25px auto 0px auto;
}

#content {
    padding-top: 4rem;
}

body {
    font-size: 1.8rem;
    /* background: var(--main-bg-color); */
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 2.25rem;
}
h5 {
    font-size: 2rem;
}

a {
    color: var(--main-text);
    text-decoration: underline var(--c-link) 2px;
}



li {
    line-height: 3rem;
}

#add-paper-btn {
    background-color: var(--c-lightgreen);
    font-size: 2.5rem;
    /* font-weight: semibold; */
}

/* navBar */
#navBar a {
    font-size: 2.5rem;
    color: var(--c-navBar-a);
    text-decoration: none;
    
}

/* Voting box */
#voteContainer {
    margin: 2rem;
    padding: 1rem;
    /* display: flex; */
    background-color: var(--c-lightgrey);
    
}

#voteForm label {
    font-weight: bold;
    padding-right: 1rem;
    /* width: 10rem; */
}

#voteContainer a{
    /* margin: 2rem; */
    padding: 1rem;
    /* display: flex; */
}

#voteForm button[type='submit'] {
    background-color: var(--c-lightgreen);
    margin-left: 3rem;
}


#add-proposal-form input[type='text'] {

    height: 10rem;
    width: 30rem;
}
    
