

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
    /* Set 1rem == 10px */
    font-size: 62.5%;

    /* Fonts */
    --f-serif: "Crimson Text", serif;
    --f-sans-serif: "Ubuntu", sans-serif;
    
    /* Colors */
    --c-cream: #FFFDD0;
    --c-lightgrey: #CCCCFF;
    --c-lightgreen: #DCFAE1;
    --c-green: #91F7A4;
    --c-grey: #CCCCCC;
    --c-purple: #CC33FF;
    --c-lightblue: #8dc2ee;

    /* Color Scheme */
    --c-grey: #F7F1ED;
    --c-pink: #FEBEB0;
    --c-darkgreen: #3D5A5B;
    --c-darkblue: #2F365F;
    
    /* Color Scheme 2 */
    --c-whitepurple: #f4eeff;
    --c-lightpurple: #dcd6f7;
    --c-teal: #a6b1e1;
    --c-darkblue: #424874;

    --c-snow: #f5fefd;

    /* Elements */
    --c-border: black;
    --border-width: 4px;
    --c-btn-bg: white;
    --c-bg: #fffafa;    
    --c-link: var(--c-lightblue);
    --c-navBar-a: var(--c-purple);
    --c-navBar-a: black;
    --c-main-text: black;


    --f-headers: var(--f-sans-serif)
    
}

#container {
    max-width: 850px;
    margin: 25px auto 0px auto;
}

#content {
    padding-top: 4rem;
}

body {
    font-size: 1.8rem;
    background: var(--c-lightgrey);
    background: white;
    line-height: 1.5;
    font-family: var(--f-sans-serif);
}

h1 {
    font-size: 4rem;
    /* font-family: var(--f-serif); */
    /* padding: 0; */
    /* margin: 0; */
}

h2 {
    font-size: 3rem;
    /* font-family: var(--f-serif); */
}
h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 2.25rem;
}
h5 {
    font-size: 2rem;
}

a {
    color: var(--main-text);
    text-decoration: underline var(--c-link) 2px;
    line-heigh: 1.5;
}



li {
    line-height: 3rem;
}


button {
    background-color: var(--c-btn-bg);
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
}

summary {
    font-weight: bold;

}

/* Horizontal list */
.hlist ol li {
    display: inline-block;
    width: 25%;
    text-align: left;
    line-height: 2.5;
}

#add-paper-btn {

}

#add-proposal-btn {
    font-size: 2rem;
}

#plan-meeting-btn {
    font-size: 2rem;
}

/* navBar */
#navBar a {
    font-size: 2.5rem;
    color: var(--c-navBar-a);
    text-decoration: none;
    
}

/* Meeting container contains the voting */
/* #meeting-container { */
/*     margin: 2rem; */
/*     padding: 1rem; */
/*     border: var(--border-width) solid var(--c-lightblue); */
/* } */

/* Voting box */
#vote-container {
    margin: 2rem;
    padding: 1rem;
    display: flex;
    border: var(--border-width) solid var(--c-border);
    
}

#vote-container #candidates {
    padding-left: 5rem;
}

#vote-form label {
    font-weight: bold;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: right;
}

#vote-container a{
    padding: 1rem;
}

#vote-form {
    width: 10rem;
}

#vote-form button[type='submit'] {
    background-color: var(--c-btn-bg);
    padding: 0.5rem;
    margin: 1rem;
    height: 3rem;
}

#add-proposal-form {

}

/* Scoring Proposals */
#unscored-proposals-container {
    margin: 2rem;
    padding: 1rem;
    border: var(--border-width) solid var(--c-border);
}
.score-proposal-form {
    display: flex;
}
.score-proposal-form p {
    padding: 0;
    margin: 0;
}
.score-proposal-form select {
    margin: 1rem;
    height: 3rem;
}
.score-proposal-form button {
    padding: 0.5rem;
    margin: 1rem;
    height: 3rem;
    font-size: 1.6rem;
}

/* Top Proposals */
#top-proposals-container {
    margin: 2rem;
    padding: 1rem;
    border: var(--border-width) solid var(--c-border);
 }
