
:root {
    /* Set 1rem == 10px */
    font-size: 62.5%;

    /* Colors */
    --c-cream: #FFFDD0;
    --c-lightgrey: #CCCCFF;
    --c-lightgreen: #DCFAE1;
    --c-green: #91F7A4;
    --c-grey: #CCCCCC;
    --c-purple: #CC33FF;
    /* --c-purple: rebeccapurple; */
    --c-lightblue: #8dc2ee;

    /* Color Scheme */
    --c-grey: #F7F1ED;
    --c-pink: #FEBEB0;
    --c-darkgreen: #3D5A5B;
    --c-darkblue: #2F365F;
    
    /* Color Scheme 2 */
    --c-whitepurple: #f4eeff;
    --c-lighpurple: #dcd6f7;
    --c-teal: #a6b1e1;
    --c-darkblue: #424874;

    --c-snow: #f5fefd
    /* Semantic */
    
    /* --c-bg: var(--c-lightpurple); */
    --c-bg: Snow;
    --c-bg: #fffafa;
    --c-bg: var(--c-cream);
    --c-bg: var(--c-snow);

    /* --c-bg: var(--c-whitepurple); */
    
    --c-link: var(--c-lightblue);
    --c-navBar-a: var(--c-purple);

    --c-navBar-a: var(--c-lightpurple);
    
    /* --c-navBar-a: var(--c-darkgreen); */
    
    --c-main-text: black;

}

html {   
    /* background-color: var(--main-bg-color); */
}

#container {
    max-width: 850px;
    margin: 25px auto 0px auto;
}

#content {
    padding-top: 4rem;
}

body {
    font-size: 1.8rem;
    background: var(--c-bg);
    /* background-color: white; */
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 2.25rem;
}
h5 {
    font-size: 2rem;
}

a {
    color: var(--main-text);
    text-decoration: underline var(--c-link) 2px;
}



li {
    line-height: 3rem;
}


button {
    background-color: var(--c-bg);
    background-color: white;
}



#add-paper-btn {
    background-color: var(--c-lightgreen);
    font-size: 2.5rem;
    /* font-weight: semibold; */
}

/* navBar */
#navBar a {
    font-size: 2.5rem;
    color: var(--c-navBar-a);
    text-decoration: none;
    
}

/* Voting box */
#vote-container {
    margin: 2rem;
    padding: 1rem;
    /* display: flex; */
    background-color: var(--c-lightgrey);
    
}

#vote-form label {
    font-weight: bold;
    padding-right: 1rem;
    padding-left: 1rem;
    /* width: 10rem; */
    text-align: right;
}

#vote-container a{
    /* margin: 2rem; */
    padding: 1rem;
    /* display: flex; */
}

#vote-form button[type='submit'] {
    background-color: var(--c-lightgreen);
    margin-left: 3rem;
}


#add-proposal-form {

}


/* Scoring Proposals  */
.score-proposal-form {
    display: flex;	     
}
.score-proposal-form p {
    padding: 0;
    margin: 0;
}
.score-proposal-form select {
    /* margin-top: 3rem; */
    margin: 1rem;
    height: 3rem;
    width: 4rem;
}
.score-proposal-form button {
    background: var(--c-bg);
    margin: 1rem;
    height: 3rem;
}
