{% extends 'base.html' %}
{% block title %}{{ club.name }}{% endblock title %}
{% block content %}

<h1>{{ club.name }}</h1>


<details>
  <summary><b>Members</b></summary>
<ul>
  {% for member in club.members.all %}
  <li>{{ member }}</li>
  {% endfor %}
</ul>
</details>
<br>


<button type="submit" id="add-proposal-btn" onclick="location.href='{% url 'clubs:add-proposal' club.name %}'">Add Proposal</button>




{% if meeting %}
{% include 'clubs/meeting.html' %}
{% else %}
<button type="submit" id="plan-meeting-btn" onclick="location.href='{% url 'clubs:plan-meeting' club %}'">Plan Meeting</button>
{% endif %}


{% if unscored_proposals %}
{% include 'clubs/unscored_proposals.html' %}
{% endif %}


{% if club.proposals.all %}
{% include 'clubs/top-proposals.html' %}
{% endif %}


{% endblock content %}
