{% extends 'base.html' %}
{% block title %}{{ club.name }}{% endblock title %}
{% block content %}

<h1>{{ club.name }}</h1>


<button type="submit" id="add-proposal-btn" onclick="location.href='{% url 'clubs:add-proposal' club.name %}'">Add Proposal</button>

<!-- <details> -->
<!--   <summary>Add a Paper</summary> -->
<!-- </details> -->

<br>
<br>

<details>
  <summary><b>Members</b></summary>
<ul>
  {% for member in club.users.all %}
  <li>{{ member }}</li>
  {% endfor %}
</ul>
</details>

{% if club.reading %}
<h2>Current Reading</h2>
<p><a href="{% url 'papers:paper-detail' club.reading.id %}">{{ club.reading }}</p>
{% endif %}

{% if election and not voted %}
{% include 'clubs/vote.html' %}
{% endif %}



{% if unscored_proposals %}
{% include 'clubs/score.html' %}
{% endif %}


{% include 'clubs/proposals.html' %}



{% endblock content %}
