<h2>Vote</h2>
<div id="vote-container">
  <form method="POST" id="vote-form"  name="vote-form">
    {% csrf_token %}
    {{ vote_form.as_p }}
    <button type="submit">Vote</button>
  </form>

  <div id="candidates">
    {% for i, candidate in candidates.items %}
    <p><b>{{ i }}:</b> <a href="{% url 'papers:paper-detail' candidate.paper.id %}">{{ candidate.paper.title }}</a>
      <!-- <p><a href="{% url 'papers:paper-detail' candidate.paper.id %}">{{ candidate.paper.title }}</a> -->
      {% endfor %}
  </div>
</div>

